#skills {
  background-color: $dark-grey;
  background-image: linear-gradient(
    135deg,
    $dark-grey 0%,
    $dark-black 100%
  );
  color: $white-color;
  height: 100%;
  border-top: 0px;
  border-bottom: 1px solid #09564a;
  
  .wrapper{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    .skill {
      border: 1px solid #09564a;
      color: $primary-color;
      font-size: 16px;
      padding: 6px 16px;
      border-radius: 20px;
      margin: 0 20px 20px 0;
    }
  }
}
